.Header {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1;
}
.conatiner {
  width: 100vw;
  display: flex;
}
.sub-container {
  width: 100%;
}
.sidebar {
  min-height: 80vh;
}
.Posts {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  padding-left: 2rem;
  padding-top: 5rem;
}
.button-imp {
  margin-top: 1.4rem;
  display: flex;
  gap: 1rem;
}

.tags {
  margin: 0 0.2rem;
}

.reaction {
  margin-top: 0.4rem;
}
.create-post {
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
}

.centered {
  margin-left: 26rem;
}
.card {
  margin-left: 3rem;
}

.spinner {
  position: relative;
  left:40%;
  margin-bottom: 5rem;
}
